<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
  <form action="https://silent-comics.us7.list-manage.com/subscribe/post?u=0a36e0058af9477b9100e43c6&amp;id=10c879ffc9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">

<div class="mc-field-group">
	<label class="clip" for="mce-EMAIL">Email Address </label>
	<input placeholder="Your Email Address" type="email" value="" name="EMAIL" class="required email mw-100 w-100 w5-ns f5 input-reset ba b--black-20 pv3 ph4 border-box code" id="mce-EMAIL">
  <label class="clip" for="mce-MMERGE3">Name </label>
  <input placeholder="Your Name" type="text" value="" name="MMERGE3" class="name mw-100 w-100 w5-ns f5 input-reset ba b--black-20 pv3 ph4 border-box code" id="mce-MMERGE3">
  <input type="submit" value="Signup" name="subscribe" class="input-reset w-100 w-auto-ns bg-purple white bg-hover-light-purple f5 pv2 pv3-ns ph4 avenir ba b--black-20 ">
</div>

    </div>
  </form>
</div>
<!--End mc_embed_signup-->
