---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main " role="main">
  {% include sidebar.html %}

  <div class="archive page mw7-l center pa4 ph7-1">

    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title f2 f1-ns avenir">{{ page.title }}</h1>

    {% endunless %}

    <section class="page__content f5 f3-ns lh-copy measure serif" itemscope itemtype="http://schema.org/Article">
    {{ content }}
  </section>
  </div>
</div>
